 
/* start css.sty */
.ptmb8t-x-x-144{font-size:144%;  font-weight: bold;}
.ptmb8t-x-x-144{  font-weight: bold;}
.ptmbi8t-x-x-144{font-size:144%; font-weight: bold;   font-style: italic;}
.ptmbi8t-x-x-144{ font-weight: bold;   font-style: italic;}
.ptmr8t-x-x-120{font-size:120%;}
.ptmri8t-x-x-120{font-size:120%;font-style: italic;}
.ptmri8t-x-x-120{font-style: italic;}
.zptmcmr-x-x-90{font-size:90%; font-style: italic;}
.pcrr8tn-{font-family: monospace;}
.ptmb8t-{  font-weight: bold;}
.ptmb8t-{  font-weight: bold;}
.ptmri8t-{font-style: italic;}
.ptmri8t-{font-style: italic;}
.ptmbi8t-{ font-weight: bold;   font-style: italic;}
.ptmbi8t-{ font-weight: bold;   font-style: italic;}
.pcrbo8t-{font-family: monospace; font-weight: bold;    font-style: oblique;}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
div.array {text-align:center;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.figure img.graphics {margin-left:10%;}
.lstlisting .label{margin-right:0.5em; }
div.lstlisting{font-family: monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
div.lstinputlisting{ font-family: monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}
.uline{ text-decoration:underline; }
.uuline{ text-decoration:underline; }
span.sout {text-decoration: line-through }
span.xout {text-decoration: line-through }
span.uwave {text-decoration:underline }
div.algorithm table.caption { border-bottom: 1px solid black; margin-bottom:1pt; }
div.algorithmic span.algorithmic{white-space:pre}
div.verbatiminput {font-family: monospace; white-space: nowrap; }
span#textcolor1{color:#CB0000}
span#textcolor2{color:#CB0000}
span#textcolor3{color:#CB0000}
span#textcolor4{color:#CB0000}
span#textcolor5{color:#FF0000}
span#textcolor6{color:#FF0000}
span#textcolor7{color:#FF0000}
span#textcolor8{color:#FF0000}
span#textcolor9{color:#FF0000}
span#textcolor10{color:#FF0000}
span#textcolor11{color:#FF0000}
span#textcolor12{color:#FF0000}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
 #TBL-2-1-{ background-color:rgb(141,180,225)}
 #TBL-02-4-{ background-color:rgb(223,235,255)}
 #TBL-0002-10-{ background-color:rgb(223,235,255)}
 #TBL-000002-16-{ background-color:rgb(223,235,255)}
 #TBL-000000002-25-{ background-color:rgb(223,235,255)}
 #TBL-0000000002-28-{ background-color:rgb(223,235,255)}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
 #TBL-3-1-{ background-color:rgb(141,180,225)}
 #TBL-03-4-{ background-color:rgb(223,235,255)}
span#textcolor13{color:#FF0000}
span#textcolor14{color:#FF0000}
 #TBL-0003-10-{ background-color:rgb(223,235,255)}
span#textcolor15{color:rgb(0,126,0)}
 #TBL-00003-13-{ background-color:rgb(223,235,255)}
span#textcolor16{color:rgb(0,126,0)}
 #TBL-0000003-19-{ background-color:rgb(223,235,255)}
 #TBL-00000003-22-{ background-color:rgb(223,235,255)}
span#textcolor17{color:#FF0000}
 #TBL-000000003-25-{ background-color:rgb(223,235,255)}
span#textcolor18{color:#FF0000}
 #TBL-0000000000003-37-{ background-color:rgb(223,235,255)}
 #TBL-00000000000003-40-{ background-color:rgb(223,235,255)}
 #TBL-000000000000003-43-{ background-color:rgb(223,235,255)}
span#textcolor19{color:#FF0000}
 #TBL-0000000000000003-46-{ background-color:rgb(223,235,255)}
 #TBL-00000000000000003-49-{ background-color:rgb(223,235,255)}
span#textcolor20{color:#FF0000}
 #TBL-00000000000000000003-58-{ background-color:rgb(223,235,255)}
span#textcolor21{color:#FF0000}
 #TBL-000000000000000000003-61-{ background-color:rgb(223,235,255)}
span#textcolor22{color:#FF0000}
 #TBL-000000000000000000000003-70-{ background-color:rgb(223,235,255)}
span#textcolor23{color:#FF0000}
 #TBL-0000000000000000000000003-73-{ background-color:rgb(223,235,255)}
span#textcolor24{color:#FF0000}
 #TBL-0000000000000000000000000003-82-{ background-color:rgb(223,235,255)}
span#textcolor25{color:#FF0000}
 #TBL-00000000000000000000000000003-85-{ background-color:rgb(223,235,255)}
span#textcolor26{color:#FF0000}
span#textcolor27{color:#FF0000}
span#textcolor28{color:#FF0000}
span#textcolor29{color:#FF0000}
span#textcolor30{color:#FF0000}
span#textcolor31{color:#FF0000}
span#textcolor32{color:#FF0000}
span#textcolor33{color:#FF0000}
span#textcolor34{color:#FF0000}
span#textcolor35{color:#FF0000}
span#textcolor36{color:#FF0000}
span#textcolor37{color:#FF0000}
span#textcolor38{color:#FF0000}
span#textcolor39{color:#FF0000}
span#textcolor40{color:#FF0000}
span#textcolor41{color:#FF0000}
span#textcolor42{color:#FF0000}
span#textcolor43{color:#FF0000}
span#textcolor44{color:#FF0000}
span#textcolor45{color:#FF0000}
span#textcolor46{color:#FF0000}
span#textcolor47{color:#FF0000}
span#textcolor48{color:#FF0000}
span#textcolor49{color:#FF0000}
span#textcolor50{color:#FF0000}
span#textcolor51{color:#FF0000}
span#textcolor52{color:#FF0000}
span#textcolor53{color:#FF0000}
span#textcolor54{color:#FF0000}
span#textcolor55{color:#FF0000}
span#textcolor56{color:#FF0000}
span#textcolor57{color:#FF0000}
span#textcolor58{color:#FF0000}
span#textcolor59{color:#FF0000}
span#textcolor60{color:#FF0000}
span#textcolor61{color:#FF0000}
span#textcolor62{color:#FF0000}
span#textcolor63{color:#FF0000}
span#textcolor64{color:#FF0000}
span#textcolor65{color:#FF0000}
span#textcolor66{color:#FF0000}
span#textcolor67{color:#FF0000}
span#textcolor68{color:#FF0000}
span#textcolor69{color:#FF0000}
span#textcolor70{color:#FF0000}
span#textcolor71{color:#FF0000}
span#textcolor72{color:#FF0000}
span#textcolor73{color:#FF0000}
span#textcolor74{color:#FF0000}
span#textcolor75{color:#FF0000}
span#textcolor76{color:#FF0000}
span#textcolor77{color:#FF0000}
span#textcolor78{color:#FF0000}
span#textcolor79{color:#FF0000}
span#textcolor80{color:#FF0000}
span#textcolor81{color:#FF0000}
span#textcolor82{color:#FF0000}
span#textcolor83{color:#FF0000}
span#textcolor84{color:#FF0000}
span#textcolor85{color:#FF0000}
span#textcolor86{color:#FF0000}
/* end css.sty */

