---
title: Undergrad Research Position
layout: post
shortnews: true
icon: newspaper-o
date: 2018-10-09
---

We're looking for highly motivated undergraduate researchers to work on AI/ML Testing and Verification. If you're interested, please drop an email to <a href="mailto:sudipta_chattopadhyay@sutd.edu.sg"> Sudipta Chattopadhyay </a> with your résumé with the subject "Undergraduate AI/ML Verification".