---
title: Post-doctoral Research Position
layout: post
shortnews: true
icon: newspaper-o
date: 2018-10-08
---

<p style="text-align:justify">

We're looking for highly motivated post-doctoral researchers to work on analyzing and defending against Timing-channel attacks such as Spectre. If you're interested, please drop an email to <a href="mailto:sudipta_chattopadhyay@sutd.edu.sg"> Sudipta Chattopadhyay </a> with your résumé and a short research statement with the subject "Postdoc Timing-channel position".

</p>
