---
title: PhD Research Position (AI Security)
layout: post
shortnews: true
icon: newspaper-o
date: 2019-05-14
---

<p style="text-align:justify">

We are looking for two PhD students to work on Safety and Security for Artificial Intelligence and Machine
Learning. 
The student must hold a Singapore Citizenship 
or Permanent Residency. The position offers attractive scholarship and a collaboration with Industry Partner
<a href="http://www.oneconnectft.com.sg" target="_blank"> OneConnect Financial </a>. For details about the scholarship and the offer, interested candidates can email to  <a href="mailto:sudipta_chattopadhyay@sutd.edu.sg" target="_blank"> Sudipta Chattopadhyay </a>  with your résumé with the subject "PhD AI/ML Security position".

</p>
